
$color-primary:#7289da;
$color-primary-dark:#5165ac;
$color-black:#000;
$color-darker:#23272a;
$color-dark:#2c2f33;
$color-medium:#6b777f;
$color-light:#99aab5;
$color-lighter:#fff;

$color-correct:#1e5334;
$color-correct-dark:#0f2e1f;
$color-wrong: #6c2e27;
$color-wrong-dark:#3a1f1b;

$bg-color: $color-dark;

$table-background: $color-darker;
$table-color: $color-lighter;
$table-border-color: lighten($color-darker, 10%);

body {
    font-family: Verdana, sans-serif;
    margin:40px;
    background:$color-dark;
    color: $color-lighter;
}

h2 {
    margin-top:0;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

nav {
    button {
        padding:12px;
        cursor:pointer;
        background-color: $color-light;
        border-radius: 10px 10px 0 0;
        border: none;
        &.active{
            background-color: $color-darker;
            color: $color-light;
        }
        &.edit{
            margin-left: 2px;
        }
    }
}

button{
    font-family: Verdana, sans-serif;
    cursor:pointer;
    &.btn{
        &-primary {
            background: $color-primary;
            border: none;
            padding: 10px;
            border-radius: 10px;
            &:hover {
               background-color: $color-primary-dark;
            }
        }
        &-secondary {
            background: $color-primary;
            border: none;
            padding: 10px;
            border-radius: 10px;
            &:hover {
               background-color: $color-primary-dark;
            }
        }
        &-del {
            background: none;
            border: none;
            padding: 10px;
            border-radius: 10px;
        }
        &-answer {
            display: block;
            margin: 6px 0;
            width: 100%;
            text-align: left;
            background-color: $color-dark;
            border: 2px solid $color-dark;
            padding: 15px;
            color: $color-lighter;
            transition: all 0.2s ease;
        
            &:hover{
                border-color: $color-primary;
            }
        
            &.correct{
                animation: pulse 0.2s ease;
                border: 2px solid $color-correct;
                background-color:$color-correct-dark ;

            }
        
            &.wrong{
                animation: pulse 0.2s ease;
                border: 2px solid $color-wrong;
                background-color:$color-wrong-dark ;
            }
        }
    }
}

table {
    background: $table-background;
    color: $table-color;

    th{
        font-size: 14px;
        padding: 10px;
        text-align: left;
        border:1px solid $table-border-color;
        &:nth-last-child(1){
            text-align: center;
        }
    }
    
    td{
        padding: 5px;
        text-align: center;
        border:1px solid $table-border-color;

        input {
            width: 100%;
            height: 50px;
            background: $table-background;
            box-sizing: border-box;
            border: 0;
            color: $table-color;
            &:focus{
            outline-style: groove;
            outline-color: $color-primary;
            outline-width: thick;
            }
        }
    }
}

.section {
    display:none;
    background:$color-darker;
    padding:20px;
    border-radius: 0 10px 10px 10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.section.active {
    display:block;
}

table {
    width:100%;
    border-collapse:collapse;
    margin-top:10px;
    tbody tr:nth-child(even){
        background: lighten($color-darker, 3%);
        input{
            background: lighten($color-darker, 3%);
        }
    }
    
}

#answers {
    margin-bottom:25px;
}

#statement {
    padding: 15px;
}


/* ================= MODAL ================= */

.modal{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.4);
    justify-content:center;
    align-items:center;
    z-index:1000;
    &.show{
        display:flex;
    }
    
    &-content{
        background:$color-darker;
        padding:25px;
        border-radius:12px;
        width:320px;
        text-align:center;
        animation:fadeIn 0.2s ease;
    }
    
    &-buttons{
        margin-top:15px;
    }
    
    &-buttons button{
        margin:5px;
    }
}

@keyframes fadeIn{
    from{opacity:0; transform:scale(0.95);}
    to{opacity:1; transform:scale(1);}
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.02); }
    100% { transform: scale(1); }
}